body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background-color: #D9FFF8;
}

p {
    font: 28px "Century Gothic", Futura, sans-serif;
    margin: 30px;
}

p.stats {
    font : 14px;
    margin: 4px;
}

h1 {
    font: 68px "Century Gothic", Futura, sans-serif;
    margin: 10px;
    color: #2E4756;
}

h2 {
    font: 38px Apply Symbols;
    color: #2E4756;
    margin: 5px;
}

.card, .selected-card {
    border: 4px solid #2E4756;
    border-radius: 10px;
    font-size: 180px;
    margin: 15px;
    float: left;
    color: #2E4756;
    background-color: #86BBD8; 
    min-width: 209px;
    height: 300px;
}

.selected-card {
    background-color: #FF9973;
}


button {
    color: black;
    margin: 5px;
}

.operation {
    border: 2px solid #2E4756;
    color: #2E4756;
    border-radius: 3px;
    background-color: #86BBD8;
    font-size: 65px;
    margin: 10px;
    float: left;

}

.card-row:after {
  clear: both;
  content: "";
  display: table;
  margin-bottom: 5px;
}

.centerd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset, .unsolvable {
    color: #2E4756;
    border: 3px solid #2E4756;
    border-radius: 5px;
    background-color: #D9FFF8;
    font-size: 45px;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.help {
    color: #2E4756;
    border: 3px solid #2E4756;
    border-radius: 5px;
    background-color: #D9FFF8;
    font-size: 15px;
    margin: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.reset:hover, .unsolvable:hover, .help:hover {
    background-color: #2E4756;
    color: #D9FFF8;
}



.statistics {
    font-size: 25px;
    margin: 7px;
    color: #2E4756;
}
