body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

p {
    margin: 10px;
}

h1 {
    font: 68px "Century Gothic", Futura, sans-serif;
    margin: 10px;
}

h2 {
    font: 38px "Century Gothic", Futura, sans-serif;
    margin: 5px;
}

.card {
    border: 4px solid #000;
    border-radius: 40px;
    font-size: 240px;
    margin: 15px;
    float: left;
    background-color: turquoise; 
}

.selected-card {
    border: 4px solid #000;
    border-radius: 40px;
    font-size: 240px;
    margin: 15px;
    float: left;
    background-color: coral;
}


button {
    color: black;
    margin: 5px;
}

.operation {
    border: 1px solid #999;
    font-size: 25px;
    margin: 10px;
    float: left;

}

.card-row:after {
  clear: both;
  content: "";
  display: table;
  margin-bottom: 35px;
}

.centerd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset, .unsolvable {
    border: 2px solid #000;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 40px;
    margin: 5px;
}

.statistics {
    font-size: 25px;
    margin: 7px;
}
